<header class="page-header">
  <div class="container header-container">
    <a class="header-logo" href="./index.html">yachtjet</a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#about" class="header-nav-link">About</a>
        </li>
        <li class="header-nav-item">
          <a href="#catalog" class="header-nav-link">Yachts</a>
        </li>
        <li class="header-nav-item">
          <a href="#reviews" class="header-nav-link">Reviews</a>
        </li>
      </ul>
    </nav>

    <ul class="header-social-list">
      <li class="header-social-item">
        <a class="header-social-link" href="#">
          <svg class="header-social-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li class="header-social-item">
        <a class="header-social-link" href="#">
          <svg class="header-social-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>

      <li class="header-social-item">
        <a class="header-social-link" href="#">
          <svg class="header-social-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button class="header-menu-btn" type="button" aria-label="Open menu">
      <svg class="header-menu-icon" width="28" height="28">
        <use href="/img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <!-- Mobile menu -->
  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <div class="mobile-menu-header">
        <a class="header-logo" href="./index.html">yachtjet</a>

        <button class="mobile-menu-btn" type="button" aria-label="Close menu">
          <svg class="mobile-menu-btn-icon" width="28" height="28">
            <use href="/img/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>

      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a class="mobile-menu-link active" href="#about">About</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#catalog">Yachts</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>

      <ul class="mobile-social-list">
        <li class="mobile-social-item">
          <a class="mobile-social-link" href="#">
            <svg class="mobile-social-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="mobile-social-item">
          <a class="mobile-social-link" href="#">
            <svg class="mobile-social-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>

        <li class="mobile-social-item">
          <a class="mobile-social-link" href="#">
            <svg class="mobile-social-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
